
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> 控制标题栏、菜单栏、自定工具栏和Office工具栏的隐藏和显示</title>

</head>
<body style="overflow:hidden">
    隐藏了标题栏、菜单栏、自定工具栏和Office工具栏的效果，每个栏都是可以单独的控制是否隐藏。
    <div style="width: auto;height: 800px;">
        @Html.Raw(ViewBag.POCtrl)
    </div>
</body>
</html>
