
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveDoc</title>
</head>
<body>
   保存页面的token值为： @Html.Raw(ViewBag.testToken)

    @Html.Raw(ViewBag.POShowPage)
</body>
</html>
