
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>文档保存前和保存后执行的事件</title>
</head>
<body style="overflow:hidden">
    <script type="text/javascript">
        function BeforeDocumentSaved() {
            document.getElementById("PageOfficeCtrl1").Alert("BeforeDocumentSaved事件：文件就要开始保存了.");
            return true;
        }

        function AfterDocumentSaved(IsSaved) {
            if (IsSaved) {
                document.getElementById("PageOfficeCtrl1").Alert("AfterDocumentSaved事件：文件保存成功了.");
            }
        }
    </script>
    <form id="form1">
        演示: 文档保存前和保存后执行的事件。<br /><br />

        <div style=" width:auto; height:700px;">
            @Html.Raw(ViewBag.POCtrl)
        </div>
    </form>
</body>
</html>
