
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>后台编程插入excel文件到数据区域(企业版)</title>
</head>
<body>
    <div style="font-size: 12px; line-height: 20px; border-bottom: dotted 1px #ccc; border-top: dotted 1px #ccc; padding: 5px;">
        关键代码：
        <span style="background-color: Yellow;">
            <br />DataRegion
            dataRegion = worddoc.openDataRegion("PO_开头的书签名称"); <br />
            dataRegion.setValue("[excel]doc/1.xls[/excel]");
        </span>
        <br />
    </div>
    <br />
    <form id="form1">
        <div style="width: auto; height: 700px;">
            <!--**************   PageOffice 客户端代码开始    ************************-->
            @Html.Raw(ViewBag.POCtrl)
            <!--**************   PageOffice 客户端代码结束    ************************-->
        </div>
    </form>
</body>
</html>