
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> 简单的给Word文档中的数据区域赋值</title>
</head>
<body style="overflow:hidden">
    <div style="width: auto;height: 800px;">
        @Html.Raw(ViewBag.POCtrl)
    </div>
</body>
</html>
