
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My  'DataTag' starting page</title>
</head>
<body style="overflow:hidden">
    <div style="width: auto;height: 700px;">
        @Html.Raw(ViewBag.POCtrl)
    </div>
</body>
</html>
