
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="overflow:hidden">
    此表格中的数据是使用后台程序填充进去的，请查看Table的代码，使用的OpenTable的方法，可以实现行增长，还可以循环使用原模板Table区域（B4:F13）单元格样式。
    <div style="width: 1000px; height: 700px;">
        @Html.Raw(ViewBag.POCtrl)
    </div>
</body>
</html>
