
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title></title>
    <link href="images/csstg.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="content">
        <div id="textcontent" style="width: 1000px; height: 800px;">
            <!--**************   卓正 PageOffice组件 ************************-->
            @Html.Raw(ViewBag.POCtrl)
        </div>
    </div>
</body>
</html>
