
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>最简单的打开保存Word文件</title>
</head>
<body>
    <form id="form1">
        <div style=" width:auto; height:700px;">
            @Html.Raw(ViewBag.POCtrl)
        </div>
    </form>
</body>
</html>
