
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> 最简单的以只读模式打开Word文档</title>
</head>
<body style="overflow:hidden">
    <div style="width: auto;height: 800px;">
        @Html.Raw(ViewBag.POCtrl)
    </div>
</body>
</html>
