
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>XX文档系统</title>
</head>
<body>
    <script type="text/javascript">
        function Save() {
            document.getElementById("PageOfficeCtrl1").WebSave();
        }
        function CloseFile() {
            window.external.close();
        }

        function BeforeBrowserClosed() {
            if (document.getElementById("PageOfficeCtrl1").IsDirty) {
                if (confirm("提示：文档已被修改，是否继续关闭放弃保存 ？")) {
                    return true;

                } else {

                    return false;
                }
            }
        }
    </script>
    <div style=" width:auto; height:700px;">
        @Html.Raw(ViewBag.POCtrl)
    </div>
</body>
</html>

