
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveDoc</title>
</head>
<body>
     @Html.Raw(ViewBag.conment)
     <!--要输出保存页面的内容，就必须要用@Html.Raw(ViewBag.POShowPage)-->
     @Html.Raw(ViewBag.POShowPage)
</body>
</html>
