
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Excel中插入图片</title>
</head>
<body>

    <form id="form1">
        <div style=" width:100%; height:700px;">
            @Html.Raw(ViewBag.POCtrl)
        </div>
    </form>
</body>
</html>